* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* :root {
  --bg-primary: linear-gradient(rgba(128, 0, 128, 1), rgba(0, 0, 255, 0.8));
} */

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* word-spacing: 5px; */
  /* background: var(--bg-primary); */
}

.btn {
  outline: none;
  border-radius: 16px;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: hsl(278, 50%, 51%);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.err-mess {
  font-size: 40px;
  margin: 20% 40%;
}
img {
  width: 100%;
  height: 100%;
}

/* navbar */
nav {
  padding-left: 5rem;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.movie-img-div {
  width: 100%;
  height: auto;
}
.movie {
  position: relative;
}

.heart-div {
  background-color: grey;
  display: flex;
  justify-content: center;
  /* align-items: baseline; */
  border-radius: 50%;
  height: 30px;
  width: 30;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  margin: 5px 5px 0px 0px;
  cursor: pointer;
}
.redColor {
  background-color: rgb(190, 18, 60);
}
.heart {
  border-radius: 30%;
  width: 30px;
  height: 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  color: white;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profile-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
}
.play-btn {
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-color: grey;
  border-radius: 50%;
  padding: 10px;
}
button {
  cursor: pointer;
}

.tomato img {
  position: relative;
  left: 40px;
}
.navbar input[type="text"] {
  padding: 0.5rem;
  padding-left: 2rem;
  color: white;
  border-color: white;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 600px;
  background-color: rgba(128, 128, 128, 0);
}
.panel-highlight {
  gap: 30px;
  background-color: rgba(190, 18, 60, 0.4);
  border-right: 10px solid #be123c;
}
input::placeholder {
  color: white;
  opacity: 1;
}
/* hero section */
.movie-hero {
  /* height: 90%; */
  color: white;
}
/* .movie-hero img {
  object-fit: cover;
  object-position: center;
  height: auto;
} */
.hero-info {
  color: white;
  position: absolute;
  top: 30%;
  left: 8%;
  width: 30%;
}
.hero-info > * {
  padding-bottom: 1rem;
}
.hero-info h1 {
  font-size: 4rem;
}
.hero-info .ratings {
  display: flex;

  justify-content: center;
  gap: 200px;
  align-items: center;
}
.hero-info button {
  padding: 0.5rem 2.5rem;
  font-weight: 500;
  font-size: 21px;
  border: none;
  color: white;
  background-color: crimson;
  border-radius: 5px;
}

.hero-info .synopsis {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

/* MOVIE INFO */
.side-panel {
  border: 2px solid rgba(128, 128, 128, 0.3);
  width: 20%;
  height: 100%;
  position: fixed;
  padding: 10px 0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.side-panel > div {
  width: 100%;
}
.side-panel > div div {
  border: 2px solid blue;
}
.panel-div {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#quiz-side-panel > * {
  padding: 5px;
}
#quiz-side-panel {
  background-color: rgba(128, 128, 128, 0.5);
  width: 200px;
  border-radius: 10px;
  padding: 20px;
}
#quiz-side-panel button {
  background-color: fuchsia;
  font-weight: 600;
  width: 90%;
  border-radius: 20px;
  padding: 0.5rem;
  color: pink;
  border: none;
}
.side-panel > div {
  font-size: 20px;
}
.side-panel p {
  font-size: 1rem;
}
.movie-info-cont {
  width: calc(100vw - 20%);
  overflow: hidden;
  margin-left: 20%;
  padding: 20px;
}

.flex-ver {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-hor {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 20px 2px;
}
.flex-hor .info {
  gap: 10px;
}

.flex-hor-gap {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 70% 30%;
}
.grid p {
  padding: 10px 0;
}
.grid > div div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.moviepage-info {
  font-size: 23px;
  font-weight: 600;
}
.grid P {
  font-size: 20px;
}
.select-btn {
  background-color: rgb(190, 18, 60);
  color: white;
  border-radius: 10px;
  padding: 15px 30px;
  border: none;
  font-size: 18px;
  margin-top: 20px;
}

.flex-ver button {
  background-color: rgb(190, 18, 60);
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
  border: none;
  width: 250px;
  font-size: 18px;
}

select {
  width: 100px;
  padding: 15px 20px;
  margin-top: 20px;
  margin-left: 0;
}
.red {
  font-size: 20px;
  color: rgba(190, 18, 60, 0.9);
}

.hero-video {
  position: relative;
}
.main-logo {
  width: 50px;
  height: 50px;
}
.logos {
  width: 35px;
  height: 35px;
}
.over-view {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  top: 0;
  left: 0;
}
.mt {
  margin-top: 30px;
}
.moviepage-info {
  gap: 10px;
}
.movie img {
  width: 100%;
  height: auto;
}
.hero-video img {
  object-fit: cover;
}

.movie-container {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  /* row-gap: 0.1rem; */
  justify-content: space-around;
  /* padding: 1rem; */
}

.movie {
  max-width: 250px;
  margin: 1rem;
  transition: transform 400ms;
}

.movie h3 {
  font-size: 1.5rem;
  color: black;
  margin-top: 8px;
}

/* MEDIA QUERIES */

/* INFO PAGE*/

#movie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  padding: 2rem;
}

.outer {
  margin: 30px;
}
.info-desc > * {
  margin-left: 70px;
  margin-right: 30px;
}
.info-desc {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  align-items: center;
}
.movie-info {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  font-size: 2rem;
}

.movieposter img {
  max-width: 300px;
}
.movieposter button {
  margin: 0 auto;
  margin-top: 2rem;
  box-shadow: 3pxpx 0px 6px;
}
.movieposter h3 {
  margin-top: 1rem;
}
.movie-overview {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 46px;
}
footer {
  margin-top: 10%;
}
.info-btn a {
  text-decoration: none;
  color: black;
  font-family: cursive;
  font-weight: 600;
}
.info-btn {
  display: flex;
  margin-top: 30px;
  margin-bottom: 80px;
  width: 300px;
  justify-content: space-between;
}
/* @media (max-width: 800px) {
  .movie-info h3 {
    margin: 15px 0;
  }
}
@media (max-width: 750px) {
  .info-desc > * {
    font-size: 1.7rem;
  }

  .movie-overview {
    text-align: center;
  }
} */
